<table width="100%" class="tablesorter" style="border-collapse: collapse;">
  <thead>
    <tr class="catalog-header-line">
      <th width="50%" style="text-align: left;"><span class="subtitle">Name</span></th>
      <th style="text-align: left;"><span class="subtitle">Source</span></th>
    </tr>
  </thead>
  <tbody>
    {{#items}}
    <tr class="catalog-item toggle" data-id="{{id}}" data-source="{{source}}" rowspan="2">
      <td style="text-align: left;"><span class="lb-span"><b>&nbsp;{{name}}</b></span></td>
      <td style="text-align: left;"><span class="catalog-minor">&nbsp;{{source}}</span></td>
    </tr>

    <tr class="tablesorter-childRow" data-id="{{id}}">
      <td class="equip-open-info catalog-open" style="padding:10px;" colspan="16">
        {{#if description}}<blockquote class="desc-text">{{{description}}}</blockquote>{{/if}}
        <span>{{{effect}}}</span>
      </td>
    </tr>

    {{/items}}
  </tbody>
</table>