<table width="100%" class="tablesorter" style="border-collapse: collapse;">
  <thead>
    <tr style="text-align: left; background-color:var(--bg); border-bottom: 1px solid var(--border); position: sticky; top: 0; ">
      <th width="50%"><span class="subtitle">Name</span></th>
      <th><span class="subtitle">Source</span></th>
    </tr>
  </thead>
  <tbody>
    {{#items}}
    <tr style="text-align: left; border: 0; border-bottom: 1px solid var(--border);" class="catalog-item toggle" data-id="{{id}}" rowspan="2">
      <td><span class="lb-span"><b>&nbsp;{{name}}</b></span></td>
      <td><span class="catalog-minor">&nbsp;{{source}}</span></td>
    </tr>

    <tr class="tablesorter-childRow" data-id="{{id}}">
      <td class="equip-open-info catalog-open" style="padding:10px;" colspan="16">
        {{#if description}}<blockquote class="desc-text">{{{description}}}</blockquote>{{/if}}
        <span>{{{effect}}}</span>
      </td>
    </tr>

    {{/items}}
  </tbody>
</table>