<div style="position:fixed; width: 98%;
  border: 1px;
  padding: 5px;
  font-size: 18px;
  line-height: 30px;">
  <table width="100%">
    <tr style="text-align: left; background-color:var(--bg); border-bottom: 1px solid var(--border);">
      <th width="35%">
        <span class="subtitle">Name</span>
      </th>
      <th width="10%">
        <span class="subtitle">Source</span>
      </th>
      <th width="5%">
        <span class="subtitle">Size</span>
      </th>
      <th width="5%">
        <span class="subtitle">Armor</span>
      </th>
      <th width="5%">
        <span class="subtitle">SP</span>
      </th>
      <th width="20%" style="text-align: center;">
        <span class="subtitle">Mounts</span>
      </th>
      <th width="20%" style="text-align: center;">
        <span class="subtitle">HASE</span>
      </th>
    </tr>
  </table>
</div>
<div class=spacer></div>

{{#items}}
<div class="catalog-item equip-expander">
  <a href=#>
    <div class="equip-expander-header">
      <table width="100%">
        <tr style="text-align: left;">
          <td width="35%">
            <span class="lb-span"><b>&nbsp;{{name}}</b></span>
          </td>
          <td width="10%">
            <span class="subtitle">{{source}}</span>
          </td>
          <td width="5%" style="text-align: center;">
            <span class="subtitle">{{size}}</span>
          </td>
          <td width="5%" style="text-align: center;">
            <span class="subtitle">{{armor}}</span>
          </td>
          <td width="5%" style="text-align: center;">
            <span class="subtitle">{{sp}}</span>
          </td>
          <td width="20%" style="text-align: center;">
            <span class="subtitle">{{mountString mounts}}</span>
          </td>
          <td width="20%" style="text-align: center;">
            <span class="subtitle">{{haseString stats}}</span>
          </td>
        </tr>
      </table>
    </div>
  </a>
  <div class="equip-open-info hidden">
    <div style="padding-left:5px">
      {{#if description}}<blockquote class="desc-text">{{{description}}}</blockquote>{{/if}}
      <span>{{{effect}}}</span>
    </div>
  </div>
</div>
{{/items}}