{{#skills}}
<tr>
  <td style="padding: 5px; padding-bottom: 8px;">
    <div class="menu-border coreskill-upg sweep-btn" data-id="{{id}}" data-name="{{name}}">
      <div style="padding-left:5px">
        <span><b>{{name}}</b>&emsp;<span class="subtitle">{{source}}</span></span>
      </div>
      <div style="padding-left:15px">
        <i>{{effect}}<br></i>
      </div>
    </div>
  </td>
</tr>
{{/skills}}