<!-- accept/decline -->
<div class="np-wizard" data-step="0">
  <h1>Congratulations, Pilot</h1>
  <span class="subtitle">Due to recent combat performance, UNI//TACSYS has authorized a license upgrade</span>
  <br>
  <br>
  <span class="subtitle"><i>License Upgrade Pending:</i></span>
  <br>
  <div class="menu-border" style="text-align: center; background-color:var(--bg-alt)">
    <span class="subtitle">LL</span>
    <span style="font-size: 38px">{{level}}</span>
    <span style="vertical-align: text-top; font-size:30px; line-height:0px;">&nbsp;<i class="icon-angle-double-right"></i>&nbsp;</span>
    <span class="subtitle">LL</span>
    <span class="active pulsate" style="font-size: 52px;">{{inc level}}</span>
  </div>
  <div>
    <br><br>
    <div style="text-align: center; width:100%;"><span class="subtitle">Level {{inc level}} Bonuses:</span></div>
    <br>
    <ul class="level-gains-list">
      <li>+1 Pilot HP</li>
      <li>+1 Pilot Skill Point</li>
      <li>+1 CORE Point</li>
      <li>+1 CORE HP</li>
      <li>+1 Pilot Talent Point</li>
      <li>+1 License Rank</li>
      {{#modCond level 2}} 
        <li>+1 CORE Targeting</li>
      {{else}}{{/modCond}}
      {{#modCond level 3}} 
        <li>+1 CORE Skill Points</li>
        <li>+1 Pilot GRIT</li>
      {{else}}{{/modCond}}
    </ul>
  </div>
  <div class="wizard-btn-container">
    <div class="close wizard-btn btn" data-modal="levelPilotModal"><span>Cancel</span></div>
    <div class="breadcrumb-container"></div>
    <div class="wizard-btn btn" data-step="1"><span>Next</span></div>
  </div>
</div>

<!-- select skill -->
<div class="np-wizard hidden" data-step="1">
  <h1>Upgrade Skill</h1>
  <span id="skill-instruction-sub" class="subtitle">Add a +1 bonus to a Skill (+4 max)</span>
  <div id="skill-grid">
    <table width="100%" style="border-spacing: 15px;">
      <tr>
        <td class="skillbox" data-skill="Acquire" width="25%"></td>
        <td class="skillbox" data-skill="Flash" width="25%"></td>
        <td class="skillbox" data-skill="Brawl" width="25%"></td>
        <td class="skillbox" data-skill="Infiltrate" width="25%"></td>
      </tr>
      <tr>
        <td class="skillbox" data-skill="Investigate"></td>
        <td class="skillbox" data-skill="Persuade"></td>
        <td class="skillbox" data-skill="Command"></td>
        <td class="skillbox" data-skill="Swindle"></td>
      </tr>
      <tr>
        <td class="skillbox" data-skill="Tech"><br></td>
        <td class="skillbox" data-skill="Survive"></td>
        <td class="skillbox" data-skill="Maneuver"></td>
        <td class="skillbox" data-skill="Notice"></td>
      </tr>
    </table>
  </div>
  <div class="wizard-btn-container">
    <div class="close wizard-btn btn" data-modal="levelPilotModal"><span>Cancel</span></div>
    <div class="wizard-btn btn" data-step="0"><span>Back</span></div>
    <div class="breadcrumb-container"></div>
    <div class="wizard-btn btn" data-step="2"><span>Next</span></div>
  </div>
</div>

<!-- select skill -->
<div class="np-wizard hidden" data-step="2">
  <h1>Upgrade CORE</h1>
  <span class="subtitle">Add a +1 bonus to a CORE attribute (+6 max)</span>
  <div id="core-grid">
    <table width="100%" style="border-spacing: 15px; margin-top:12.5%;">
      <tr>
        <td class="core-skillbox" data-hase="hull" data-name="HULL" width="25%"></td>
        <td class="core-skillbox" data-hase="agi" data-name="AGILITY" width="25%"></td>
        <td class="core-skillbox" data-hase="eng" data-name="ENGINEERING" width="25%"></td>
        <td class="core-skillbox" data-hase="sys" data-name="SYSTEMS" width="25%"></td>
      </tr>
    </table>
  </div>
  <div class="wizard-btn-container">
    <div class="close wizard-btn btn" data-modal="levelPilotModal"><span>Cancel</span></div>
    <div class="wizard-btn btn" data-step="1"><span>Back</span></div>
    <div class="breadcrumb-container"></div>
    <div class="wizard-btn btn" data-step="3"><span>Next</span></div>
  </div>
</div>

<!-- select talent -->
<div class="np-wizard hidden" data-step="3">
  <h1>Upgrade Talent</h1>
  <span class="subtitle">Unlock a new Talent or upgrade the rank of an unlocked Talent</span>
  <div class="modal-scrollrect menu-border" style="height:75%">
    <table id="talents-list" width="100%" style="border-collapse: collapse;"></table>
  </div>
  <span class="subtitle" id="selected-talent">Selected:</span>
  <div class="wizard-btn-container">
    <div class="close wizard-btn btn" data-modal="levelPilotModal"><span>Cancel</span></div>
    <div class="wizard-btn btn" data-step="2"><span>Back</span></div>
    <div class="breadcrumb-container"></div>
    <div class="wizard-btn btn disabled" data-step="4"><span>Next</span></div>
  </div>
</div>

<!-- select license -->
<div class="np-wizard hidden" data-step="4">
  <h1>Unlock License</h1>
  <span class="subtitle">Unlock a new License or upgrade the rank of an unlocked Licensed</span>
  <div class="modal-scrollrect menu-border" style="height:75%">
    <table id="licenses-list" width="100%" style="border-collapse: collapse;"></table>
  </div>
  <span class="subtitle" id="selected-license">Selected:</span>
  <div class="wizard-btn-container">
    <div class="close wizard-btn btn" data-modal="levelPilotModal"><span>Cancel</span></div>
    <div class="wizard-btn btn" data-step="2"><span>Back</span></div>
    <div class="breadcrumb-container"></div>
    {{#modCond level 3}}
      <div class="wizard-btn btn disabled" data-step="5"><span>Next</span></div>
    {{else}}
      <div class="wizard-btn btn disabled" data-step="6"><span>Next</span></div>
    {{/modCond}}
  </div>
</div>

<!-- select core skill -->
<div class="np-wizard hidden" data-step="5">
  <h1>Select Core Skill</h1>
  <div class="modal-scrollrect menu-border" style="height:78%">
    <table id="coreskills-list" width="100%" style="border-collapse: collapse;"></table>
  </div>
  <span class="subtitle" id="selected-coreskill">Selected:</span>
  <div class="wizard-btn-container">
    <div class="close wizard-btn btn" data-modal="levelPilotModal"><span>Cancel</span></div>
    <div class="wizard-btn btn" data-step="4"><span>Back</span></div>
    <div class="breadcrumb-container"></div>
    <div class="wizard-btn btn disabled" data-step="6"><span>Next</span></div>
  </div>
</div>

<!-- final confirm -->
<div class="np-wizard hidden" data-step="6">
  <h1>New Stats</h1>
  <span class="subtitle">Confirm level upgrades.</span>
  <br><br>
  <div id="results-table"></div>
  <div style="text-align: center"><span class="subtitle" style="color: var(--explosive)">WARNING: This cannot be undone</span></div>
  <div id="confirm-level-up" class="wizard-btn btn"><span style="width: 100%">Confirm</span></div>
  <div class="wizard-btn-container">
    <div class="close wizard-btn btn" data-modal="levelPilotModal"><span>Cancel</span></div>
    {{#modCond level 3}}
      <div class="wizard-btn btn" data-step="4"><span>Back</span></div>
    {{else}}
      <div class="wizard-btn btn" data-step="3"><span>Back</span></div>
    {{/modCond}}
    <div class="breadcrumb-container"></div>
  </div>
</div>
