{{#talents}}
<tr>
  <td class="pilot-talent-item" data-talent="{{id}}">
    <div class="menu-border">
      <div class="caret-expander caret caret-closed"></div>
      <div style="display: inline;">&nbsp;{{name}}
      </div>
      <div class="caret-expand hidden">
        <div style="padding-left:5px">
          <blockquote class="desc-text">{{{description}}}</blockquote>
          <span class="talent-rank-title">&emsp;
            <span class="subtitle">Unlock Rank I: </span>
            <span><b>{{r1_name}}</b></span>
          </span>
          <p>{{{r1_desc}}}</p><br>
          <span class="talent-rank-title warning-stripes disabled">&emsp;
            <span class="subtitle">Rank II: </span>
            <span><b>{{r2_name}}</b> &nbsp;
            </span>
          </span>
          <div class="disabled"><p>{{{r2_desc}}}</p></div><br>
          <span class="talent-rank-title warning-stripes disabled">&emsp;
            <span class="subtitle">Rank III: </span>
            <span><b>{{r3_name}}</b> &nbsp;</span>
          </span>
          <div class="talent-rank-title warning-stripes disabled"><p>{{{r3_desc}}}</p></div><br>
        </div>
      </div>
    </div>
  </td>
  <td style="vertical-align: top" width="24px;">
    <div class="talent-btn" data-talent="{{id}}" data-talent-name="{{name}}">
      <span class="pull-right add-button">
        <a href="#" data-balloon-length="med" data-balloon="Add Talent: {{name}}" data-balloon-pos="left">+</a>
      </span>
      <span class="pull-right subtract-button" style="display: none;" data-talent="{{id}}">
        <a href="#" data-balloon-length="medium" data-balloon="Remove Talent" data-balloon-pos="left">-</a>
      </span>
    </div>
  </td>
</tr>
{{/talents}}