{{#talents}}
<tr>
  <td style="padding-bottom: 5px; ">
    <div class="menu-border equip-expander">
        <div class="equip-expander-header sweep-btn" style="text-align:center;" data-talent="{{id}}">
          <span><b>{{name}}</b></span>
        </div>
      <div class="equip-open-info hidden" style="background-color: var(--bg);">
        <div style="padding-left:5px">
          <blockquote class="desc-text">{{{description}}}</blockquote>
          <span class="talent-rank-title">&emsp;
            <span class="subtitle">Unlock Rank I: </span>
            <span><b>{{r1_name}}</b></span>
          </span>
          <p>{{{r1_desc}}}</p><br>
          <span class="talent-rank-title warning-stripes disabled">&emsp;
            <span class="subtitle">Rank II: </span>
            <span><b>{{r2_name}}</b> &nbsp;
            </span>
          </span>
          <p class="disabled">{{{r2_desc}}}</p><br>
          <span class="talent-rank-title warning-stripes disabled">&emsp;
            <span class="subtitle">Rank III: </span>
            <span><b>{{r3_name}}</b> &nbsp;</span>
          </span>
          <p class="{{talentLock rank 3 '' 'disabled'}}">{{{r3_desc}}}</p><br>
        </div>
      </div>
    </div>
  </td>
  <td style="vertical-align: top" width="24px;">
    <div class="talent-btn" data-talent="{{id}}" data-talent-name="{{name}}">
      <span class="pull-right add-button">
        <a href="#" data-balloon-length="small" data-balloon="Add Talent" data-balloon-pos="left">+</a>
      </span>
      <span class="pull-right subtract-button" style="display: none;" data-talent="{{id}}">
        <a href="#" data-balloon-length="medium" data-balloon="Remove Talent" data-balloon-pos="left">-</a>
      </span>
    </div>
  </td>
</tr>
{{/talents}}