{{#shells}}
<tr>
  <td class="shell-item" data-id="{{id}}">
    <div class="menu-border">
      <div class="caret-expander caret caret-closed"></div>
      <div style="display: inline;">&nbsp;{{name}}
        {{#if source}}<span class="subtitle">({{source}})</span>{{/if}}
      </div>
      <div class="caret-expand hidden">
        <div class="mounts-block">
          {{#mounts}}
            <div><span class="subtitle">MOUNT</span><br>{{@this}}</div>
          {{/mounts}}
        </div>

        <div class="mounts-block">
          <div><span class="subtitle">SIZE</span><br>{{size}}</div>
          <div><span class="subtitle">ARMOR</span><br>{{armor}}</div>
          <div><span class="subtitle">BASE SP</span><br>{{sp}}</div>
        </div>

        {{#compare id "everest" operator="=="}}
          
          <div style="width:100%; text-align:center; margin-top:10px"><span id="everest-feature">EVEREST Shell Feature: +1 to any CORE stat</span></div>
          <br>
        {{else}}
        <div class="mounts-block">
          <div><span class="subtitle">Hull</span><br>{{#if stats.hull}}{{stats.hull}}{{else}}0{{/if}}</div>
          <div><span class="subtitle">Agility</span><br>{{#if stats.agi}}{{stats.agi}}{{else}}0{{/if}}</div>
          <div><span class="subtitle">Systems</span><br>{{#if stats.sys}}{{stats.sys}}{{else}}0{{/if}}</div>
          <div><span class="subtitle">Engineering</span><br>{{#if stats.eng}}{{stats.eng}}{{else}}0{{/if}}</div>
        </div>

        {{/compare}}
        <hr>
        {{#if description}}<blockquote class="desc-text">{{{description}}}</blockquote>{{/if}}
        <hr>
        <div class="catalog-ult">{{ult_name}}</div>
        <div class="catalog-ult-sub">ULTIMATE PASSIVE</div>
        {{#if ult_description}}
        <blockquote class="desc-text">{{{ult_description}}}</blockquote>
        {{/if}}
        <p class="catalog-ult-desc">{{{ult_passive}}}</p>
        <br>
        <div class="catalog-ult">{{ult_active_name}}</div>
        <div class="catalog-ult-sub">ULTIMATE ACTIVE</div>
        <p class="catalog-ult-desc">{{{parseTags ult_active}}}</p>
        <br>        
      </div>
    </div>
  </td>
</tr>
{{/shells}}        
