{{#configs}}
  <a href=#>
    <div class="mech-expander btn {{checkStripes status}}" id="{{id}}">
      <span class="name {{checkAvail status}}">{{allCaps name}}</span>
      <span class="mech-sub">{{shell.name}}</span>
      <div class="mech-open-info hidden">
        <span class="pilot-info">{{source}} {{shell.name}} Shell</span>
        <br>
        <span class="pilot-info {{checkAvail status}}">{{allCaps status}}</span>
      </div>
    </div>
  </a>
{{/configs}}