<tr colspan=4 style="vertical-align: top;">
  <td width="20%">
    <div class="mount-btn">{{titleCase type}}</div>
  </td>
  <td class="menu-border equip-expander">
    <a href=#>
      <div class="equip-expander-header sweep-btn">
        <span>&nbsp;{{name}}</span>
        <span class="subtitle">({{source}})</span>
      </div>
    </a>
    <div class="equip-open-info hidden">
      <div style="padding-left:5px">
        {{#if description}}
          <blockquote class="desc-text">{{{description}}}</blockquote>
        {{/if}}
        {{#if effect}}
          <span>{{effect}}</span>
          <br>
        {{/if}}
        <i>Rarity <b>{{rarity}}</b></i>
        <table class="gear-table">
          <tr>
            <th>Range</th>
            <th>Damage</th>
          <tr>
            <td>{{range}}</td>
            <td>{{{damage}}} Damage</td>
        </table>
        <div class="tag-div">
          {{#tags}}
          <span class="tag">
            <a href="#" data-balloon-length="{{balloonSize description}}" data-balloon="{{description}}" data-balloon-pos="up">{{name}}</a>
            </span>
          {{/tags}}
        </div>
      </div>
    </div>
  </td>
</tr>