{{#talents}}
<tr>
  <td colspan=4 class="menu-border equip-expander">
    <a href=#>
      <div class="equip-expander-header sweep-btn">
        <img class="rankImg" src="./resources/icons/rank-{{rank}}.svg">
        <span class="lb-span"><b>&nbsp;{{name}}</b>&nbsp;<span class="subtitle">(Rank {{rank}})</span></span>
      </div>
    </a>
    <div class="equip-open-info hidden" style="background-color: var(--bg);">
      <div style="padding-left:5px">
        <blockquote class="desc-text">{{{description}}}</blockquote>
        <span class="talent-rank-title">&emsp;
          <img class="rankImg" src="./resources/icons/rank-1.svg">
          <span class="lb-span"><b>{{r1_name}}</b> &nbsp; <span class="subtitle">(ACTIVE)</span></span>
        </span>
        <p>{{{r1_desc}}}</p><br>
        <span class="talent-rank-title {{talentLock rank 2 '' 'warning-stripes disabled'}}">&emsp;
          <img class="rankImg" src="./resources/icons/{{talentLock rank 2 'rank-2' 'locked'}}.svg">
          <span class="lb-span"><b>{{r2_name}}</b> &nbsp;
            <span class="subtitle">{{talentLock rank 3 '(ACTIVE)' '(LOCKED)'}}</span>
          </span>
        </span>
        <div class="{{talentLock rank 2 '' 'disabled'}}"><p>{{{r2_desc}}}</p><br>
        <span class="talent-rank-title {{talentLock rank 3 '' 'warning-stripes disabled'}}">&emsp;
          <img class="rankImg" src="./resources/icons/{{talentLock rank 3 'rank-3' 'locked'}}.svg">
          <span class="lb-span"><b>{{r3_name}}</b> &nbsp;
            <span class="subtitle">{{talentLock rank 3 '(ACTIVE)' '(LOCKED)'}}</span>
          </span>
        </span>
        <div class="{{talentLock rank 3 '' 'disabled'}}"><p>{{{r3_desc}}}</p></div><br>
      </div>
    </div>
  </td>
</tr>
{{/talents}}