  <span class="callsign">{{callsign}}</span>&emsp;
  <span class="header">{{name}}</span>
  <br>
  <span>License Level &nbsp;<b>{{level}}</b></span>
  <span class="subtitle">//</span><span>{{background}}</span>
  <span class="pull-right">
    <span class="subtitle">HP:</span>
    <span>&nbsp;{{hp}}</span>
    &emsp;
    <span class="subtitle">ARMOR:</span>
    <span>&nbsp;{{armor}}</span>
    &emsp;
    <span class="subtitle">E/E:</span>
    <span>&nbsp;{{ee}}</span>
    &emsp;
    <span class="subtitle">SPEED:</span>
    <span>&nbsp;{{speed}}</span>
  </span>
  <table class="pilot-table" width="100%">
    <tr valign="top">
      <th style="width:60%!important">Background</th>
      <th style="width:40%!important">Appearance</th>
    </tr>
    <tr valign="top">
      <td>
        <p>{{{history}}}</p>
        <br>
        <span class="fnf">Friends and Foes</span>
        <div id="edit-pilot-fnf-btn" class="menu-border btn edit hidden" style="text-align: center;">Edit Friends and Foes</div>
        <div style="padding-left:20px;">
          <ul>
            {{#fnf}}
            <li>
              <b>{{name}}</b>&nbsp<span class="subtitle">{{relationship}}</span>
              <blockquote class="fnf-desc">{{{description}}}</blockquote>
            </li>
            {{/fnf}}
          </ul>
        </div>
      </td>
      <td style="text-align:center">
        {{#if img_appearance}}
          <img class="block-img" src="{{img_appearance}}" width=353>
        {{/if}}
        <span>{{{text_appearance}}}</span>
      </td>
    </tr>
  </table>

  <table class="pilot-table" width="100%">
    <tr>
      <th colspan=4>SKILLS</th>
    </tr>
    <tr class="edit hidden">
      <th colspan=4><div id="edit-pilot-skills-btn" class="menu-border btn" style="text-align: center;">Reassign Skills</div></th>
    </tr>
    <tr>
      <table class="skills-table">
        <tr>
          <th>GRIT</th>
          <th>ACQUIRE</th>
          <th>FLASH</th>
          <th>BRAWL</th>
          <th>INFILTRATE</th>
        </tr>
        <tr>
          <td rowspan=6 id="grit">{{plusMinus skills.grit}}</td>
          <td>{{plusMinus skills.acquire}}</td>
          <td>{{plusMinus skills.flash}}</td>
          <td>{{plusMinus skills.brawl}}</td>
          <td>{{plusMinus skills.infiltrate}}</td>
        </tr>
        <tr>
          <th>INVESTIGATE</th>
          <th>PERSUADE</th>
          <th>COMMAND</th>
          <th>SWINDLE</th>
        </tr>
        <tr>
          <td>{{plusMinus skills.investigate}}</td>
          <td>{{plusMinus skills.persuade}}</td>
          <td>{{plusMinus skills.command}}</td>
          <td>{{plusMinus skills.swindle}}</td>
        </tr>
        <tr>
          <th>TECH</th>
          <th>SURVIVE</th>
          <th>MANEUVER</th>
          <th>NOTICE</th>
        </tr>
        <tr>
          <td>{{plusMinus skills.tech}}</td>
          <td>{{plusMinus skills.survive}}</td>
          <td>{{plusMinus skills.maneuver}}</td>
          <td>{{plusMinus skills.notice}}</td>
        </tr>
      </table>
    </tr>
  </table>

  <table class="pilot-table" width="100%">
    <tr>
      <th colspan=4>TALENTS</th>
    </tr>
    <tr class="edit hidden">
      <th colspan=4><div id="edit-pilot-talents-btn" class="menu-border btn" style="text-align: center;">Reassign Talents</div></th>
    </tr>
    {{#talents}}
    <tr>
      <td colspan=4 class="menu-border equip-expander">
        <a href=#>
          <div class="equip-expander-header sweep-btn">
            <img class="rankImg" src="./resources/icons/rank-{{rank}}.svg">
            <span class="lb-span"><b>&nbsp;{{name}}</b>&nbsp;
              <span class="subtitle">(Rank {{rank}})</span>
            </span>
          </div>
        </a>
        <div class="equip-open-info hidden" style="background-color: var(--bg);">
          <div style="padding-left:5px">
            <blockquote class="desc-text">{{{description}}}</blockquote>
            <span class="talent-rank-title">&emsp;
              <img class="rankImg" src="./resources/icons/rank-1.svg">
              <span class="lb-span"><b>{{r1_name}}</b> &nbsp;
                <span class="subtitle">(ACTIVE)</span>
              </span>
            </span>
            <p>{{{r1_desc}}}</p><br>
            <span class="talent-rank-title {{talentLock rank 2 '' 'warning-stripes disabled'}}">&emsp;
              <img class="rankImg" src="./resources/icons/{{talentLock rank 2 'rank-2' 'locked'}}.svg">
              <span class="lb-span"><b>{{r2_name}}</b> &nbsp;
                <span class="subtitle">{{talentLock rank 3 '(ACTIVE)' '(LOCKED)'}}</span>
              </span>
            </span>
            <p class="{{talentLock rank 2 '' 'disabled'}}">{{{r2_desc}}}</p><br>
            <span class="talent-rank-title {{talentLock rank 3 '' 'warning-stripes disabled'}}">&emsp;
              <img class="rankImg" src="./resources/icons/{{talentLock rank 3 'rank-3' 'locked'}}.svg">
              <span class="lb-span"><b>{{r3_name}}</b> &nbsp;
                <span class="subtitle">{{talentLock rank 3 '(ACTIVE)' '(LOCKED)'}}</span>
              </span>
            </span>
            <p class="{{talentLock rank 3 '' 'disabled'}}">{{{r3_desc}}}</p>
            <br>
          </div>
        </div>
      </td>
    </tr>
    {{/talents}}

    <tr>
      <th colspan=4>LICENSES</th>
    </tr>
    <tr class="edit hidden">
      <th colspan=4><div id="edit-pilot-licenses-btn" class="menu-border btn" style="text-align: center;">Reassign Licenses</div></th>
    </tr>
    <tr>
      <td colspan=2 class="pilot-license-block">
        <img class="rankImg" src="./resources/icons/rank-gms.svg">
        <span class="lb-span"><b>&nbsp;GMS General License</b></span>
      </td>
    </tr>

    {{#licenses}}
    <tr>
      <td colspan=2 class="pilot-license-block">
        <img class="rankImg" src="./resources/icons/rank-{{level}}.svg">
        <span class="lb-span"><b>&nbsp;{{source}} {{titleCase name}}</b>&nbsp;
          <span class="subtitle">(Rank {{level}})</span>
        </span>
      </td>
    </tr>
    {{/licenses}}

    <tr>
      <th colspan=4>CORE</th>
    </tr>
    <tr class="edit hidden">
      <th colspan=4><div id="edit-pilot-core-btn" class="menu-border btn" style="text-align: center;">Reassign CORE Points</div></th>
    </tr>
    <tr>
      <td class="core-hex-td">
        <div class="hase-title">HULL</div>
        <img class="inline-hexagon" src="./resources/icons/hex.svg" width="52px" height="60px">
        <span class="hase-num">{{plusMinus core.hull}}</span>
      </td>
      <td class="core-hex-td">
        <div class="hase-title">AGI</div>
        <img class="inline-hexagon" src="./resources/icons/hex.svg" width="52px" height="60px">
        <span class="hase-num">{{plusMinus core.agi}}</span>
      </td>
      <td class="core-hex-td">
        <div class="hase-title">SYS</div>
        <img class="inline-hexagon" src="./resources/icons/hex.svg" width="52px" height="60px">
        <span class="hase-num">{{plusMinus core.sys}}</span>
      </td>
      <td class="core-hex-td">
        <div class="hase-title">ENG</div>
        <img class="inline-hexagon" src="./resources/icons/hex.svg" width="52px" height="60px">
        <span class="hase-num">{{plusMinus core.eng}}</span>
      </td>
    <tr>
      <th colspan=4>CORE BONUSES</th>
    </tr>
    <tr class="edit hidden">
      <th colspan=4><div id="edit-pilot-talents-btn" class="menu-border btn" style="text-align: center;">Reassign CORE Bonuses</div></th>
    </tr>
    {{#bonuses}}
    <tr>
      <td colspan=4>
        <div class="core-bonus-item">
          <span class="lb-span"><b>&nbsp;{{name}}</b>&nbsp;<span class="subtitle">({{source}})</span></span>
          <br>
          <blockquote class="desc-text" style="margin-bottom: 0px;">{{{description}}}</blockquote>
          <span style="padding-left: 20px;">{{{effect}}}</span>
          <div style="height: 7px" ;>&nbsp;</div>
        </div>
      </td>
    </tr>
    {{/bonuses}}
    
  </table>