{{#weapons}}
  <tr>
    <td style="padding-bottom: 5px;">
      <div class="menu-border equip-expander">
        <div class="equip-expander-header sweep-btn weapon-item" data-id="{{id}}">&nbsp;{{name}}
          <span class="subtitle">({{source}})</span>
          {{#if sp}}<span class="pull-right subtitle">{{sp}} SP</span>{{/if}}
          {{#if mods}}<span class="pull-right subtitle">{{sp}} SP (MOD)</span>{{/if}}
        </div>
        <div class="equip-open-info hidden">
          <div style="padding-left:5px">
            {{#if description}}<blockquote class="desc-text">{{{description}}}</blockquote>{{/if}}
            {{#if effect}}<span>{{{effect}}}<br></span>{{/if}}
            {{#mods}}
            <hr class="mg-10">
            <div class="mg-10">
              <span><b>{{name}}</b><span class="subtitle">&nbsp;({{modType}})</span></span>
              <span class="subtitle"><br>{{mod.sp}} SP</span>
              {{#if description}}<blockquote class="desc-text">{{{description}}}</blockquote>{{/if}}
              {{#if effect}}<span>{{{effect}}}</span>{{/if}}
            </div>
            <hr class="mg-10">
            {{/mods}}
            <span class="subtitle">{{mount}} {{type}}</span>
            {{#if sp}}<span class="subtitle">{{sp}} SP </span>{{/if}}
            <table class="gear-table">
              <tr>
                <th>Range</th>
                <th>Damage</th>
              <tr>
                <td>{{range}}</td>
                <td>{{{dmgFormat damage}}}<br><span class="subtitle">{{dmgRange damage}}</span></td>
            </table>
            <div class="tag-div">
              {{#tags}}
              <div class="tag">
                <a href="#" data-balloon-length="{{balloonSize description}}" data-balloon="{{description}}" data-balloon-pos="up">{{name}}</a>
              </div>
              {{/tags}}
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
{{/weapons}}