{{#systems}}
  <tr>
    <td class="system-item {{#if preSelect}}skill-upgrade{{/if}}" data-id="{{id}}" data-name="{{name}}" data-isover="{{isOverSp}}">
      <div class="menu-border sweep-btn {{#if isOverSp}}warning-stripes{{/if}}">
        <div class="caret-expander caret caret-closed"></div>
        <div style="display: inline;">&nbsp;{{name}}
          <span class="subtitle">({{source}})</span>
            <span class="pull-right subtitle {{#if isOverSp}}warning{{else}}active{{/if}}"><b>{{sp}} SP</b></span>
        </div>
        <div class="caret-expand hidden">
          <div style="padding-left:5px">
            {{#if description}}<blockquote class="desc-text">{{{description}}}</blockquote>{{/if}}
            {{#if effect}}<span>{{{effect}}}<br></span>{{/if}}
            <span class="subtitle">{{type}}</span>
            {{#if sp}}<br><span class="subtitle">{{sp}} SP </span>{{/if}}
            <div class="tag-div">
              {{#tags}}
              <div class="tag">
                <a href="#" data-balloon-length="{{balloonSize description}}" data-balloon="{{description}}" data-balloon-pos="right">{{name}}</a>
              </div>
              {{/tags}}
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
{{/systems}}
{{#if installed}}
  <tr>
    <td>
      <div style="margin-top: 10px;"></div>
    </td>
  </tr>
  <tr>
    <td class="system-item" data-name="{{installed.name}}" data-remove="true">
      <div class="menu-border sweep-btn">
        <div class="caret icon-unlink" style="color:#fff"></div>
        <div style="display: inline;">&nbsp;Uninstall {{installed.name}}
          {{#if installed.sp}}<span class="pull-right subtitle">{{installed.sp}} SP</span>{{/if}}
        </div>
      </div>
    </td>
  </tr>
{{/if}}