  <div class="modal-content xl">
    <div class="modal-header xl">
      <span class="close close-x" data-modal="mountEditorModal">&times;</span>
      <span>{{mount}} Mount</span>
    </div>
    <div id="mount-editor-body" class="modal-body">
      <!-- equipped header -->
      <div>
        <span class="subtitle" style="display:inline">MOUNTED:</span>&nbsp;
        <div id="add-remove-mod-btn" class="menu-border btn pull-right disabled">Add/Remove Weapon Mod</div>
        {{#if weapon}}
          <span style="display:inline; font-size:20px; letter-spacing:2px">{{weapon.name}}</span>
          <span class="subtitle">&nbsp; // &nbsp; {{weapon.source}} {{weapon.mount}} {{weapon.type}}</span>
          {{#mods}}
            {{#compare type 'bonus_effect' operator="!="}}
              <br><i class="icon-plus-squared"></i><span>{{name}}</span><span class="subtitle">&nbsp;MOD INSTALLED</span>
            {{/compare}}
          {{/mods}}
        {{else}}
          <span style="display:inline">// EMPTY //</span>
        {{/if}}
      </div>
      <hr>
      <br>
      <!-- scrollrect -->
      <div class="modal-scrollrect menu-border" style="height:80%; margin-top: -5px">
        <table id="available-weapons" width="100%"></table>
      </div>
      <br>
      <br>
      <div class="wizard-btn-container">
        <div class="wizard-btn btn close" data-modal="mountEditorModal" style="width: inherit;">Cancel</div>
        <div class="breadcrumb-container"></div>
        <div id="mount-install" class="wizard-btn btn disabled" style="width: inherit;">/ / NO SELECTION / /</div>
      </div>
    </div>
  </div>
