  <div class="modal-content xl">
    <div class="modal-header xl">
      <span class="close close-x" data-modal="systemEditorModal">&times;</span>
      <span>System</span>
    </div>
    <div id="system-editor-body" class="modal-body">
      <!-- equipped header -->
      <div>
        <span class="subtitle" style="display:inline">INSTALLED:</span>&nbsp;
        {{#if name}}
          <span style="display:inline; font-size:20px; letter-spacing:2px">{{name}}</span>
          <span class="subtitle">&nbsp; // &nbsp; {{source}} {{type}} &nbsp; //</span>
          <span class="pull right">&nbsp; {{sp}} SP</span>
        {{else}}
          <span style="display:inline">// NONE //</span>
        {{/if}}
      </div>
      <hr>
      <br>
      <!-- scrollrect -->
      <div class="modal-scrollrect menu-border" style="height:80%; margin-top: -5px">
        <table id="available-systems" width="100%"></table>
      </div>
      <br>
      <br>
      <div class="wizard-btn-container">
        <div class="wizard-btn btn close" data-modal="systemEditorModal" style="width: inherit;">Cancel</div>
        <div class="breadcrumb-container"></div>
        <div id="system-install" class="wizard-btn btn disabled" style="width: inherit;">/ /  NO SELECTION  / /</div>
      </div>
    </div>
  </div>